@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background-primary font-[Pretendard] text-text-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

textarea:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
